@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.todos {
    width: 50%;
    margin: 0 auto;
}
.todo-item {
    margin-bottom: 10px;
    border-left: 7px solid #182026;
}
.todo-item.done {
    border-left-color: #0A6640;
}
.todo-item.doing {
    border-left-color: #A82A2A;
}
.todo-item .bp3-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.todo-item .bp3-control {
    margin-bottom: 0;
}


.edit-todo {
    width: 90%;
    display: flex;
}
.edit-todo input[type="text"] {
    flex-grow: 1;
}


.add-todo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: #E1E8ED;
}




/*
**********************
* HELPERS
**********************
*/
.d-none {
    display: none;
}